/* Universal Styles */
*{
    margin: 0;
    padding: 0;
}

/* Shared styles */
.fixed-width{
    max-width: 1140px;
    margin: 0 auto;
}
.primary-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.secondary-font{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.btn-primary{
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    padding: 12px 36px;
    color: #FFFFFF;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
}

/* Header style */
.header-area{
    height: 698px;
    background-image: url(../img/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* navbar styles */
.nav-bar{
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    font-size: 34px;
    font-weight: 900;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #4E47FF;
}


/* Hero Banner Style */
.hero-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
    padding: 155px 0px;
    text-align: center;
}  
.banner-title{
    font-size: 65px;
    font-weight: 700;
    line-height: auto;
    letter-spacing: 0%;
    color: #252432;
}