/* Universal Styles */
*{
    margin: 0;
    padding: 0;
}

/* Shared styles */
.primary-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.secondary-font{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.btn-primary{
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    padding: 12px 36px;
    color: #FFFFFF;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
}

/* Header style */
.header-area{
    height: 698px;
    background-image: url(../img/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* navbar styles */
.nav-bar{
    max-width: 1140px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    font-size: 34px;
    font-weight: 900;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #4E47FF;
}
