/* Universal Styles */
*{
    margin: 0;
    padding: 0;
}
.main-area{
    background-color: #F5F8FF;
}
/* Shared styles */
.fixed-width{
    max-width: 1140px;
    margin: 0 auto;
} 
.primary-font{  /* Font style 1 */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.secondary-font{  /* Font style 2 */
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.btn-primary{ /* Button style*/
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0%;
    padding: 12px 36px;
    color: #FFFFFF;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
}
.btn-primary:hover{  /* Button Hover style*/
    background-color: transparent;
    border: 2px solid #4E47FF;
    color: #4E47FF;
}

.section-title{  
    font-size: 42px;
    font-weight: 700;
    line-height: auto;
    letter-spacing: 0%;
    color: #252432;
    margin-bottom: 24px;
}
.paragraph{
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0%;
    color: rgba(37, 36, 50, 0.5);
    margin-bottom: 24px;
}

/* Header style */
.header-area{
    height: 698px;
    background-image: url(../img/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* navbar styles */
.nav-bar{
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    font-size: 34px;
    font-weight: 900;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #4E47FF;
}


/* Hero Banner Style */
.hero-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
    padding: 155px 0px;
    text-align: center;
}  
.banner-title{
    font-size: 65px;
    font-weight: 700;
    line-height: auto;
    letter-spacing: 0%;
    color: #252432;
}

/* Action Styles */
.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 116px 0px;
}
.action img{
    border-radius: 48px;
}

/* productive_user Styles */
.productive_user{
    padding: 50px 0px;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    text-align: center;
}
.productive_user_title{
    font-size: 38px;
    font-weight: 700;
    line-height: auto;
    letter-spacing: 0%;
    color: #252432;
    margin-bottom: 40px;
}
.counter-items{
    display: flex;
    justify-content: space-around;
}
.counter-number{
    font-size: 80px;
    font-weight: 700;
    line-height: auto;
    letter-spacing: 0%;
    color: #4E47FF;
}
.counter-text{
    font-size: 20px;
    line-height: auto;
    letter-spacing: 0%;
    color: rgba(0, 0, 0, 0.5);
}

/* Testimonial Styles */
.testimonials{
    text-align: center;
    padding: 116px 0px;
}
.testimonial-cards{
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 20px;
}
.testimonial{
    padding: 24px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #F2EDED;
    border-radius: 14px
}
.testimonial-title{
    font-size: 24px;
    font-weight: 600;
    line-height: auto;
    letter-spacing: 0%;
    color: #252432;
    margin: 24px 0px 8px 0px;
}
.testimonial-text{
    font-size: 16px;
    line-height: auto;
    letter-spacing: 0%;
    color: #1E1E1E;
    margin: 0px 0px 24px 0px;
}
.author{
    display: flex;
    gap: 12px;
}
.author img{
    border-radius: 50%;
}
.author-name{
    font-size: 16px;
    line-height: auto;
    letter-spacing: 0%;
    color: #757575;
}
.author-date{
    font-size: 16px;
    line-height: auto;
    letter-spacing: 0%;
    color: #B3B3B3;
}

/* Ready to focus section */
.ready-to-focus{
    text-align: center;
    background-color: #FFFFFF;
    padding: 70px 0px;
    border-radius: 14px;
}
.ready-to-focus-content{
    margin-bottom: 20px;
}
.ready-to-focus-title{
    font-size: 50px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    color: #000000;
    margin-bottom: 20px;
}
.ready-to-focus-text{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}
.ready-to-focus img{
    border-radius: 48px;
}

/* Get in touch Styles */
.get-in-touch{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 115px;
    padding: 116px 0px;
}
.get-in-touch-content{
    width: 50%;
}
.get-in-touch-title{
    font-size: 97px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    color: #000000;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form label{
    margin-bottom: -10px;
    font-size: 18px;
    font-weight: 500;
     line-height: 120%;
    letter-spacing: 0%;
}
.form input, form textarea{
    padding: 20px 32px;
    border: 1px solid #D6DDED;
    border-radius: 10px;
}
.field::placeholder{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.46);
    line-height: 150%;
    letter-spacing: 0%;
}